.body-container {
    font-family: 'Comfortaa' ,sans-serif;
}


div.imgLogoContainer {
    max-width: 360px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

img.imagenLogo {
    border-radius: 15px;
}

div.cuerpo-container {
    /* border: 4px solid #407d9eb0; */
    border-radius: 15px;
    background-color: #90c7d4ac;
}