<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
<div class="d-flex align-items-center text-center body-container">
    <div class="container">
        <div class="imgLogoContainer m-auto">
            <img class="imagenLogo img-fluid" src="assets/images/logo.jpg" alt="Logo conoSERnos">
        </div>
        <app-mazo-cartas></app-mazo-cartas>
    </div>
</div>
