@font-face {
    font-family: 'Comfortaa';
    src: url('../assets/fonts/Comfortaa-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

div.body-container {
    font-family: 'Comfortaa' ,sans-serif;
    background-image: url("../assets/images/fondo.jpg");
    background-size: cover;
    height: 100vh;
    min-height: 400px;
    min-width: 220px;
    display: grid;

}

